*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.video-container
{
  line-height: 0;
  width: 100%;
  position: relative;
}
video {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 1s opacity;
    z-index: 100;
    transform: translateX(0) translateY(0);
}

.more-info{
  position: absolute;
  padding: 20px 10px;
  bottom: 0;
  left: 0;
  margin: 10px;
  transform: translateX(0) translateY(0);
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgba(44, 7, 166, .8);
  line-height: inherit;

}

.more-info:hover{
  background-color: rgba(44, 7, 166, .7); 
}

.stopfade { 
   opacity: .5;
}

p{
  padding: 4% 3%;
  text-align: justify;
}